@use './reset.css';
@use './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Syne+Tactile&display=swap');

// general rules
body{
  background-color: #000;
}
.app{
  display:flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  justify-content: center;
}

h1{
  color: #FFF;
  text-align: center;
  margin: 30px auto;
  font: 6rem 'GFS Neohellenic';
  letter-spacing: -14px;
}

.mon{
  height: 250px;
  width: 250px;
  border: 7px solid #FFF;
  border-radius: 50%;
  margin:10px;
}

// Takeda
.takeda{
  position: relative;
  height: 100%;
  padding: 5px;
  .takeda_1, .takeda_2, .takeda_3, .takeda_4{
    @include vars.takeda-shape;
  }
  .takeda_1{
    top:13.75%;
    left:35.5%;
  }
  .takeda_2{
    top:55.25%;
    left:35.5%;
  }
  .takeda_3{
    top:34.5%;
    left:11%;
  }
  .takeda_4{
    right:10%;
    top:34.5%;
  }
}

// Hojo

.hojo{
  height:100%;
  position: relative;
  margin:45% 25px;
.hojo_1, .hojo_2, .hojo_3{
  @include vars.triangle;
}
.hojo_3{
  position: absolute;
  top:-48px;
  left: 47px;
}
}

// Shimazu
.shimazu{
  @include vars.big-rounded-shape;
  .shimazu_1{
    height: 25px;
    width: 102%;
    background-color: #FFF;
    margin-top: calc(50% - 10px);
    margin-left: -1px;
  }
  .shimazu_2{
    height: 25px;
    width: 101%;
    background-color: #FFF;
    transform: rotate(90deg);
    margin-top: -27px;
  }
}

// Ashikaga
.ashikaga{
  @include vars.big-rounded-shape;
  overflow: hidden;
  &:before{
    content:'';
    display: block;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    border: 5px solid #000;
    position: absolute;
  }
  .ashikaga_1{
    @include vars.ashikaga-form;
    margin-top: 60px;
  }
  .ashikaga_2{
    @include vars.ashikaga-form;
    margin-top: 20px;
  }
  
}

// chigai
.chigai{
  .chigai-1{
    width: 75%;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    transform: rotate(45deg) translate(106px, 50px);
    &:before{
      content:'';
      display: block;
      height: 60px;
      width:5px;
      background-color: #FFF;
      transform: rotate(90deg) translate(-5px,15px);
    }
    &:after{
      content:'';
      display : inline-block;
      height : 0;
      width : 0;
      border-right : 8px solid transparent;
      border-bottom : 9px solid #FFF;
      border-left : 8px solid transparent;
      transform: rotate(90deg) translate(-50px, -169px);
    }
  .chigai-2{
    height: 6px;
    width:103%;
    background-color: #000;
    transform: translate(-2px,-38px) skew(9deg);
  }  
  }
  .chigai-0{
    width: 205px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    position:absolute;
    transform: rotate(-45deg) translate(-6px, 47px);
  }
  .chigai-3{
    width: 75%;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    transform: rotate(-45deg) translate(4px, 60px);
    z-index: 2;
  }
  .chigai-1b{
    width: 75%;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    transform: rotate(-45deg) translate(4px, 60px);
    z-index: 2;
    &:before{
      content:'';
      display: block;
      height: 60px;
      width:5px;
      background-color: #FFF;
      transform: rotate(90deg) translate(-5px,15px);
      z-index: 2;
    }
    &:after{
      content:'';
      display : inline-block;
      height : 0;
      width : 0;
      border-right : 8px solid transparent;
      border-bottom : 9px solid #FFF;
      border-left : 8px solid transparent;
      transform: rotate(90deg) translate(-50px, -169px);
      z-index: 2;
    }
  .chigai-2b{
    height: 6px;
    width:103%;
    background-color: #000;
    transform: translate(-2px,-38px) skew(9deg);
    z-index: 2;
  }  
  }
}

.kumi{
  position: relative;
  transform: translate(87px, 33px) rotate(45deg);
  .kumi-1{
    @include vars.kumi-form;
    top:50px;
    left:34px;
    transform: rotate(180deg); 
  }
  .kumi-2{
    @include vars.kumi-form;
    top:106px;
    left:90px;
    transform: rotate(90deg); 
  }
  .kumi-3{
    @include vars.kumi-form;
    top: 162px;
    left:35px;
    transform: rotate(180deg); 
  }
  .kumi-4{
    @include vars.kumi-form;
    top: 106px;
    left:-20px;
    transform: rotate(90deg); 

  }
}
.hoso{
  position: relative;
.hoso_0 {
  position: absolute;
  top:70px;
  left:16px;
  .hoso_0a{
    width: 70px;
    height:50px;
    background-color: #FFF;
    transform: skew(35deg) translateX(12px);
  }
  .hoso_0b{
    width: 70px;
    height:50px;
    background-color: #FFF;
    transform: skew(-35deg) translate(84px, -50px);
    position: absolute;
    left:0;
  }
  .hoso_0c{
    width: 60px;
    height:60px;
    background-color: #FFF;
    transform: rotate(-55deg) translate(21px, 70px) skew(-20deg) ;
    position: absolute;
    top:-52px;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
  }
  .hoso_0d{
    width: 60px;
    height:60px;
    background-color: #FFF;
    transform: rotate(-55deg) translate(24px, 71px) skew(-20deg) ;
    position: absolute;
    left:0;
    border-top: 3px solid #000;
    border-right: 3px solid #000;

  }
  .hoso_0e{
    width: 70px;
    height:49px;
    background-color: #FFF;
    transform: translate(12px, 3px) skew(-35deg) scaleY(-1) ;
    position: absolute;
    left:0;
  }
}
.hoso_0f{
  width: 70px;
  height:49px;
  background-color: #FFF;
  transform: translate(120px, 3px) skew(35deg) scaleY(-1) ;
  position: absolute;
  left:0;
}
}

.igetani{
  @include vars.big-rounded-shape;
  position: relative;
  .igetani-1{
    width:60px;
    height:60px;
    border-radius: 50%;
    border: 18px solid #FFF;
    margin:74px auto;
  }
  .igetani-2{
    position: absolute;
    height:18px;
    width:135px;
    background-color: #FFF;
    top:64px;
    left: 4px;
    transform: rotate(135deg) skew(-9deg)
  }
  .igetani-3{
    position: absolute;
    height:18px;
    width:135px;
    background-color: #FFF;
    top:128px;
    left: 5px;
    transform: rotate(-135deg) skew(-9deg)
  }
  .igetani-4{
    position: absolute;
    height:18px;
    width:135px;
    background-color: #FFF;
    top:127px;
    left: 73px;
    transform: rotate(135deg) skew(9deg)
  }
  .igetani-5{
    position: absolute;
    height:18px;
    width:135px;
    background-color: #FFF;
    top:64px;
    left: 71px;
    transform: rotate(-135deg)skew(9deg)
  }
}


.sumitate{
  position: relative;
  .sumitate-1{
    height:45px;
    width: 45px;
    background-color: #FFF;
    margin: 95px auto;
    transform: rotate(45deg);
    padding-top: 10px;
  }
  .sumitate-1a{
    width: 15px;
    height: 30px;
    border: 4px solid #000;
    margin: -2px 10px 0;
  }
  .sumitate-1b{
    width: 18px;
    height: 12px;
    background-color: #FFF;
    margin: -26px 14px;
    display: block;
    position: relative;
    z-index: 1;
  }
  .sumitate-1c{
    width: 16px;
    height: 43px;
    border: 4px solid #000;
    margin: 10px 21px  0;
    border-left: 4px solid transparent;
  }
  .sumitate-2{
    position: absolute;
    top:-100px;
    left: 20px;
    height:45px;
    width: 45px;
    background-color: #FFF;
    margin: 100px auto;
    transform: rotate(45deg);
    padding-top: 10px;
  }
  .sumitate-3{
    position: absolute;
    top:-100px;
    left:170px;
    height:45px;
    width: 45px;
    background-color: #FFF;
    margin: 100px auto;
    transform: rotate(45deg);
    padding-top: 10px;
  }
  .sumitate-4{
    position: absolute;
    top:-170px;
    left:94px;
    height:45px;
    width: 45px;
    background-color: #FFF;
    margin: 100px auto;
    transform: rotate(45deg);
    padding-top: 10px;
  }
  .sumitate-5{
    position: absolute;
    top: -30px;
    left:94px;
    height:45px;
    width: 45px;
    background-color: #FFF;
    margin: 100px auto;
    transform: rotate(45deg);
    padding-top: 10px;
  }
}